<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Event Editor</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="fragments/template :: template"></div>
        <h1 th:text="${event.getId()} == 0 ? 'Ajouter un évènement' : 'Modifier un évènement'"></h1>
        <form th:action="${event.getId()} == 0 ? @{/events/new} : @{/events/edit/} + ${event.getId()}" th:object="${event}" method="post">
            <label for="title">Titre</label>
            <input type="text" th:field="*{title}" name="title" id="title" placeholder="Mon évènement">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>

            <br>

            <label for="content">Description</label>
            <input type="text" th:field="*{content}" name="content" id="content" placeholder="Ça se pase ici, y'a cette ambiance, ...">
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"/>

            <br>

            <label for="date">Date</label>
            <input type="date" th:field="*{date}" name="date" id="date">
            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>

            <br>

            <label for="duration">Durée (en jours)</label>
            <input type="number" th:field="*{duration}" name="duration" id="duration" placeholder="0.2">
            <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"/>

            <br>

            <label for="nbUsersMax">nbUsersMax</label>
            <input type="number" th:field="*{nbUsersMax}" name="nbUsersMax" id="nbUsersMax" placeholder="5">
            <span th:if="${#fields.hasErrors('nbUsersMax')}" th:errors="*{nbUsersMax}"/>

            <br>

            <button type="submit" th:text="${event.getId()} == 0 ? 'Ajouter' : 'Éditer'"></button>
        </form>
    </body>
</html>