<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Participant info</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:replace="fragments/template :: template"></div>
        <div th:if="${participant == null}">
            <p th:text="'Le participant n°' + ${id_participant} + ' n\'existe pas'"/>
        </div>
        <div th:if="${participant != null}">
            <p th:text="'Participant : ' + ${participant}"/>
            <table>
                <tr>
                    <th>Evènements</th>
                </tr>
                <tr th:each="event: ${participant.getEvents()}">
                    <td><a th:href="'/events/' + ${event.getId()}" th:text="${event.getDisplay()}"/></td>
                </tr>
            </table>
        </div>
    </body>
</html>