<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Events list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p><a href="/">home</a></p>
        <p><a href="/events/new">new event</a></p>
        <br>
        <p>Liste des évènements</p>
        <table th:if="${!events.isEmpty()}">
            <tr>
                <th>Titre</th>
                <th>Date</th>
            </tr>
            <tr th:each="event: ${events}">
                <td><a th:href="'/events/' + ${event.getId()}" th:text="${event.getTitle()}"/></td>
                <td th:text="${event.getDate()}"/>
            </tr>
        </table>
        <p th:if="${events.isEmpty()}">Aucun évènement disponnible</p>
    </body>
</html>