<!DOCTYPE HTML>
<html>
    <head>
        <title>Event info</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p><a href="/">home</a></p>
        <br>
        <h1 th:text="${event.getDisplay()}"/>
        <p th:text="'Date ' + ${event.getDate()}"/>
        <p th:text="${event.getContent()}"/>
        <p th:text="'En savoir plus'" th:title="'Evenement : ' + ${event}"/>
        <table>
            <tr>
                <th>Participants</th>
            </tr>
            <tr th:each="participant: ${event.getParticipants()}">
                <td><a th:href="'/participants/' + ${participant.getId()}" th:text="${participant.getDisplay()}"/></td>
            </tr>
        </table>
    </body>
</html>